<app-nav-bar></app-nav-bar>

<form id="message" [formGroup]="form" (ngSubmit)="onChatSubmit(form.value)">
    <mat-form-field appearance="outline" class="fw">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline" class="fw">
        <mat-label>Enter Chat</mat-label>
        <input matInput formControlName="message">
        <button [disabled]="form.invalid" type="submit" matSuffix mat-icon-button aria-label="Submit">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
    <input type="file" (change)="onFilesSelected($event)" accept="image/*" multiple>
</form>
<hr>
<div id="history">
    <div *ngFor="let chat of chats; trackBy: trackByChatId" class="mb">
        <mat-card>
            <div>
                <mat-card-subtitle>
                    <span><b>{{chat.username}}</b> (Sent: {{chat.timestamp | date:'long'}})</span>
                </mat-card-subtitle>
                <mat-card-content *ngIf="editingMessageId !== chat.id">
                    <p>{{chat.message}}</p>
                    <div *ngFor="let imgUrl of chat?.imageUrls">
                        <img *ngIf="imgUrl" [src]="imgUrl" width="50" height="50">
                    </div>
                </mat-card-content>
                <mat-card-content *ngIf="editingMessageId === chat.id">
                    <input matInput [(ngModel)]="chat.message">
                </mat-card-content>
                </div>
            <mat-card-actions>
                <button mat-icon-button (click)="onDelete(chat.id)">
                    <mat-icon>clear</mat-icon>
                </button>

                <div class="edit-actions">
                    <button mat-icon-button *ngIf="editingMessageId !== chat.id" (click)="onStartEdit(chat.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="editingMessageId === chat.id" (click)="onSaveEdit(chat.id, chat.message)">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="editingMessageId === chat.id" (click)="onCancelEdit()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>